// _fonts.scss
@font-face {
    font-family: 'PhenomenaThin';
    src: url('/assets/fonts/Phenomena_Thin.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'PhenomenaBold';
    src: url('/assets/fonts/Phenomena_Bold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'PhenomenaExtraBold';
    src: url('/assets/fonts/Phenomena_ExtraBold.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'PhenomenaExtraLight';
    src: url('/assets/fonts/Phenomena_ExtraLight.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'PhenomenaRegular';
    src: url('/assets/fonts/Phenomena_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'PhenomenaBlack';
    src: url('/assets/fonts/Phenomena_Black.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  